Olympic events are rooted in old traditions. And since Computer games do not originate from old traditions. computer games should also not be recognized as Olympic events.
Yet sports are usually associated with physical training. And since Computer games do not constitute physical training. computer games should also not be recognized as Olympic events.
Considering the growing digitization of society, the traditional model of the weekend will soon be obsolete. And since According to the traditional weekend model, supermarkets and shopping centres are closed on Sundays and public holidays. Supermarkets and shopping centres should be allowed to open on any Sundays and holidays.
If there must be rent increases, there should also be a cap to avoid nasty surprises. And since A rent increase of 100,- to 200,- is a nasty surprise. they're very bad however, if the rent suddenly climbs by 100,- or 200,-.
they're very bad however, if the rent suddenly climbs by 100,- or 200,-. And since If the rent rises from 100,- to 200,-, many cannot afford to stay in the flat. With those kinds of amounts you think twice about whether you really want to stay in the flat.
as they can adjust their expenses through the increase. And since Rent increases help the landlords. This helps the landlords,
and also the tenants. And since Capping rent increases helps the tenants. as they can adjust their expenses through the increase,
That the landlords are then slightly restricted in the administration of their property is not a problem. And since The administration of a landlord's property occasionally requires rent increases. If there must be rent increases, there should also be a cap to avoid nasty surprises.
Complementary medicine includes treatments with proven health benefits in many areas. And since If a treatment is proven to be beneficial to health, it may be recognised and paid by health insurance companies. The health insurance companies ought to be enabled to recognize a doctor's decision for natural treatment and also to cover it.
Such therapies can frequently result in an improvement in the condition through the active participation of the patient. And since Treatments leading to improvement should be recognised and covered by health insurance companies. The health insurance companies ought to be enabled to recognize a doctor's decision for natural treatment and also to cover it.
Every human, even those who have committed a despicable crime, can bring themselves to regret and change their opinion. And since Anyone who regrets his crime wants to make amends. A door must remain open for making amends.
and an unwanted pregnancy can place a significant strain on both the parents and the child for the rest of their lives. And since The morning-after pill can prevent an unwanted pregnancy. The morning-after pill ought to be available over-the-counter in pharmacies.
Supermarket employees and people who work in shopping centres also have the right to a Sunday off work. And since If shops are not open on Sundays and public holidays, employees and people working in shopping centres have a Sunday off. Hence it is good when shops are not open on Sundays and public holidays.
Various skills are promoted and required by different games. And since Video games encourage and challenge skills and performance. The performance often required by players is considerable and by all means comparable to physical efforts.
This would simply mean that only those people with wealthy parents or a previous education and a part-time job while studying would be able to apply for a degree programme in the first place. And since Tuition fees can only be paid with wealthy parents or with a part-time job. German universities should on no account charge tuition fees.
Even without tuition fees half of the student population has to work while studying and hence has less time for studying or recreation. And since To pay tuition fees, many students must work. German universities should on no account charge tuition fees.
Plus we don't live in medieval times anymore. And since In the medieval times, the death penalty was often imposed. We don't need it.
Handing out capital punishment is unethical. And since You don't need things that are unethical. We don't need it.
which ultimately also saves costs for conventional treatments and medication. And since If the treatment of a non-medical or alternative practitioners helps, costs for the classical treatment are no longer necessary. The statutory health insurance companies should also cover treatments with non-medical and alternative practitioners.
As long as it is ensured that the funds really benefit the universities directly, one can continue to regard this as social justice. And since Tuition fees promote social justice Actually it would be justified if all German universities charged tuition fees.
Those who study later decide this early on, anyway. And since If you decide early to study, you can take care of your tuition fees in time. Actually it would be justified if all German universities charged tuition fees.
Usually you only have eight weeks to complete a bachelor thesis in linguistics degrees. And since The bachelor thesis only counts for a fraction of the total grade. Current regulations for the calculation of the total grade should therefore be maintained.
since no one can claim the right to rule over the life or death of another human being. And since In the case of capital punishment, a court decides on the death of a person. One should not re-introduce capital punishment in Germany,
Everyone must be given the chance to hone their conscience and possibly make amends for their deed. And since Capital punishment does not permit amends for deeds. One should not re-introduce capital punishment in Germany,
Both the drawn-out building operations and the mounting safety issues show clear shortcomings in the entire planning. And since Shortcomings can be repaired with a re-conceptualization. BER should be re-conceptualized from scratch,
conventional medicine will also hardly suffer. And since Conventional medicine normally works with chemically produced drugs. A reduction in the amount of chemically produced medication per person is most certainly desirable.
Having said that, state funds are often wasted on nonsensical investments. And since Nonsensical investments are not worth supporting. so that this ideal appears unworthy of support in many ways.
Besides, the trading of information is obviously driven by greed of gain. And since Tax data is information. Tax data that are not made available for free should therefore not be acquired by the state.
Yet the funds of the health insurance companies are a common benefit for all premium payers. And since A common fund should not be spent on personal preferences. They should not be spent on personal preferences without proven use.
They should not be spent on personal preferences without proven use. And since The benefit of treatments in naturopaths has not been proven. Therefore no unproven and unrecognized treatments by naturopaths should be reimbursed by the insurance companies.
For affordable living space is scarce. And since rent increases make living unaffordable. A stop must be put to exorbitant rents by imposing a limit on rent increases when changing residences.
because the size of the desired accommodation changes over the course of a lifetime. And since Who does not live in his desired accommodation moves. Plus everyone has to move approx. 3-10 times in his or her life,
Plus such uniforms also stand for ideological conformity and for the suppression of individual self-development. And since Schools should help to develop individual self-development. School uniforms should not be worn in our schools.
as ultimately this decision is in the hands of the respective government leaders. And since Government leaders observe laws. Yet it remains questionable whether the actual implementation of such supervision would at the same time lead to a stronger observance of laws,
Only the question remains whether this early 'leisure' will be nicer if you have no idea what do to all day and you statistically still have almost 20 (!!!) years to go. And since When you retire, you have a lot of leisure time. Especially now, as there is a lack of skilled labour, it's irresponsible for the economy and prosperity to retire at 63.
Since the impact of the morning-after pill is so massive, particularly due to its abortive effect. And since Medical advice informs of the impacts of the morning after pill. dispensing it without medical advice would be inappropriate.
Easy access to the morning-after pill could also result in its appearing to be an easier method than other forms of contraception that, however, have fewer health effects. And since Medical advice provides information on the effects of medicines and methods. dispensing it without medical advice would be inappropriate.
A violation of international law should be more than enough to consider a reaction. And since The EU's response to a breach of international law should be intervention. the EU should intervene right away.
Humanity has made enough mistakes throughout history by waiting too long, and when it has finally reacted, the only remaining option has usually been war. And since Intervention can prevent war. the EU should intervene right away.
Stepping in dog dirt is gross and absolutely ruins your day. And since Higher fines prevent from gross and ruining things. There should be much higher fines for dog dirt left on pavements.
due to the dirt, the stench and the often considerable effort to get rid of it. And since Dog dirt causes dirty and stench. Stepping in dog dirt is gross and absolutely ruins your day
For years there has been a housing shortage in Berlin. And since Housing shortage occurs when there is too little open space for housing construction. so that using Tempelhofer Feld, which offers a lot of open space and is currently hardly developed, as living space is a sensible idea.
Since the area belongs to the federal state, or the federation. And since The state and the federal government enable social housing construction with affordable rents. it could even be used for social housing with affordable rents.
it could even be used for social housing with affordable rents. And since Open space is needed for housing construction. so that using Tempelhofer Feld, which offers a lot of open space and is currently hardly developed, as living space is a sensible idea.
Being a pharmacist myself. And since The pharmacist gives you the morning-after pill. I argue categorically in favour of over-the-counter availability of the morning-after pill in pharmacies.
Besides, intelligence services intervene massively in the privacy of citizens. And since The privacy of citizens is violated by surveillance. Secret services must be more tightly regulated in order to prevent excessive surveillance.
for it jeopardizes the secrecy and security of confidential data and informants. And since Intelligent services are obliged to secrecy and security of confidential data and informants. Parliamentary control however hampers the work of intelligence services
as the car jack-knifes at higher speeds. And since The steering system is responsible for preventing jack-knifes. The steering system may still need a bit of tweaking,
But aside from that the car caters to pretty much every wish. And since When every wish is fulfilled, car lovers rave. The prototype of Audi's new sports car has car lovers raving.
Because for one thing, their products will still sell in bad times. And since Shares of companies whose products sell even in bad times are good for investments. you should buy IBM shares if you want to invest.
However it's mainly temps (that is, students, pupils etc.) who are employed. And since When temps are hired, full-time employees do not need to work. so this has hardly any effect on the level of full-time employment and the number of unemployed.
On top of that, private and family life suffers massively because of this reduction and shifting in designated off-times. And since Private and family life usually take place on Sundays and public holidays. For these reasons supermarkets and shopping centres should not be allowed to be open for business on arbitrary Sundays and holidays.
And it's only the large companies that can afford the additional personnel expenditure. And since When supermarkets and shopping centres open on Sundays and public holidays, additional personnel expenditure are necessary. For these reasons supermarkets and shopping centres should not be allowed to be open for business on arbitrary Sundays and holidays.
Germany's aging society is undergoing demographic change. And since More pension must be paid for Germany's aging society. Thus social security and pension costs are increasing.
It is an asset for the economy. And since Economic factors should remain operational. As a central airport Berlin Tegel is particularly attractive for business travellers and should by all means remain operational.
Air traffic is extremely environmentally unfriendly. And since What is environmentally unfriendly is negative. The negative impact of air traffic however is considerable.
Particularly in Tegel, the residents have been bearing the stress of aircraft noise for decades. And since Aircraft noise is a negative effect of air traffic. The negative impact of air traffic however is considerable.
Energy saving light bulbs contain a significant amount of toxins. And since What contains toxins should be withdrawn from the market. That's why they should be taken off the market,
But I want to experience this incredible moment of freedom that skydivers report time and again. And since Skydiving is a moment of freedom. Tomorrow I will skydive for the first time in my life.
Intelligence services apparently enjoy indiscriminate liberties. And since When someone enjoys liberties, his activities are not followed in detail. No one can follow their activities in detail.
No one can follow their activities in detail. And since Parliamentary oversight committees can follow activities in detail. That's why intelligence services must be regulated in the framework of parliamentary oversight committees.
The morning-after pill has a number of side effects. And since Physicians and pharmacists inform about side effects. The morning-after pill should only be prescribed after counselling by a physician or pharmacist.
which means that quacks and phonies can practice these occupations unknown to the patients. And since Health insurance funds do not pay for benefits performed by quacks and phonies. That's why the statutory health insurance companies should not cover such treatments.
Large events that stir national or even international attention attract many visitors. And since Hurdles prevent the organization of major events. Hence the Mayor of Berlin ought to keep the hurdles for organizing such events as low as possible.
as it only has mediocre resolution. And since The quality of a camera depends on its resolution. Of course the camera could be better,
Pricing pressures are just too high. And since Under high pricing pressure, small snack bars cannot hold their own and have to close. Peter should close his snack bar as soon as possible.
the life expectancy is constantly rising. And since When life expectancy rises, people become older on average. In a few decades our society will have a disproportionate number of old people
A good grade for the thesis also significantly depends on the supervision of a dedicated teacher. And since The quality of the teacher's supervision is a random factor. Due to the many random factors the bachelor thesis should not play a bigger role.
in general, however, a clean environment and the role model effect of others is more likely to motivate the dog owner to pick up the droppings than a potential fine. And since If the role model is working, there is no need for higher penalties. Higher penalties for dog dirt are pointless as long as there is not enough personnel to enforce them.
Thus smaller shops could benefit from the additional freedom. And since Opening on Sundays and public holidays means additional freedom. Opening on Sundays and holidays would therefore help both customers and shops.
Not only because I'm constantly astonished about who wants to be my friend. And since On Facebook, you're friends with people you don't have anything to do with in real life. Today I will delete my Facebook account.
According to the weather report it'll be perfect beach weather. And since Perfect beach weather should be exploited at the sea. We should go to the Baltic Sea on the weekend.
Besides, I get to use my folks' big, comfy car. And since You need a car to get to the Baltic Sea. We should go to the Baltic Sea on the weekend.
Also the rules of the public transportation services are rarely observed. And since Police presence can ensure that rules are observed. This is why we need more police presence in public transport,
I think Berlin with its two inner-city airports was lucky not having to experience an airplane catastrophe for decades. And since Safety measures can prevent aircraft catastrophes. For safety reasons alone I find continued operation wrong.
For safety reasons alone I find continued operation wrong. And since Tegel Airport does not meet safety standards. After the new BER Airport has been commissioned, Tegel should definitely be closed.
These areas will be upgraded economically due to these factors (housing health and employment). And since When Tegel is closed, areas are available. After the new BER Airport has been commissioned, Tegel should definitely be closed.
And many a video game is physically and particularly mentally more demanding, when I think of the last FIFA tournament's final, than kicking a ball 20 meters. And since Olympic events require physical and mental abilities. It would be fair to make them into an Olympic event.
Rent prices are already regulated in favour of tenants due to existing laws and the rent index. And since regulation and capping of rents have similar effects. A cap on rent increases upon tenant change is therefore not to be supported.
Especially the home games have seen the team stay behind expectations. And since It is sobering to stay behind expectations. Berlin's basketball team has just come out of a sobering season.
Too many promises have not been kept. And since One becomes skeptical through promises not kept. Voters have become more sceptical.
Excessive consumption of meat is unhealthy. And since If something is unhealthy, it should be limited. We should thus all limit our consumption of meat rigorously.
Just as with other choices in culture or infrastructure, public broadcasters are also to be financed, regardless of whether individuals make use of their programming or not. And since Public broadcasters are financed by the licence fee. The TV/radio licence fee can only be required of all citizens/households equally.
Only in public TV programmes can viewers get information that is not profit-oriented. And since Contributions made by everyone should finance public TV programmes. everyone should chip in.
Criminals should not be put in luxury prisons, though. And since The death penalty is an alternative to prisons. Still, the state needs the death penalty as a deterrent to horrific crimes.
After all there are criminals who enjoy 'living' in prison for its decent board, no taxes to be paid, no stress with work. And since Decent board, no taxes to be paid, no stress with work are luxury. Criminals should not be put in luxury prisons, though.
One reason for this is that they have thus far hardly had to fear the consequences despite the obligation to clean up. And since Dog owners have the obligation to remove dog dirt. Dog owners should pay higher fines for dog dirt left on pavements,
The city, especially the green spaces, should be kept tidy after all. And since Dog dirt pollutes the city and green spaces. Dog owners should pay higher fines for dog dirt left on pavements,
for they are there for our recreation. And since Green spaces are used for recreation. The city, especially the green spaces, should be kept tidy after all,
Besides you're not allowed to leave other rubbish without punishment. And since Dog dirt is rubbish. Dog owners should pay higher fines for dog dirt left on pavements,
There are other instruments to motivate tighter discipline while studying. And since Tighter study discipline is a goal of tuition fees. The anticipated objectives of tuition fees can be achieved by other means.
The idea of the bachelor degree is to put together a cumulative grade from various individual assignments in order to generate a final grade. And since The Bachelor's thesis is part of the Bachelor's final grade. That's why it makes sense that the bachelor thesis only makes up a relatively small portion of the final grade (15 out of 120 credits).
After all there are many people in Germany who pay the fee although they merely use a computer to work. And since The offer of the public broadcasters can be used on one computer. The TV license fee should only be collected from those who actually make use of the programming of the public broadcasters.
With a BA dissertation one can, however, demonstrate interests and subject matter expertise particularly well. And since The higher the proportion of BA dissertation in the overall grade, the more you can show your interests and expertise. The BA dissertation should, if not make up the entire grade, then at least constitute a larger share of it.
After all one doesn't excel in every subject. And since The BA dissertation is written in a subject in which you are good. With a BA dissertation one can, however, demonstrate interests and subject matter expertise particularly well.
and furthermore no one may have the right to adjudicate upon the death of another human being. And since The death penalty is an official decision on the death of another human being. The death penalty is a legal means that as such is not practicable in Germany.
as shops are open till 10pm on some days. And since If shops are open, you can go shopping For you can go shopping 6 days a week,
Thus Sundays should remain a day for getting together with family. And since On days of rest you can spend time with your family. It is quite clear that Sunday should remain a day of rest.
Furthermore, there's no need to keep shops open on Sundays. And since Shops should not be kept open on days of rest. It is quite clear that Sunday should remain a day of rest.
since both methods can lead to the prevention, mitigation or cure of an illness. And since Subsidies are granted for treatments that lead to the prevention, mitigation or cure of a disease. Alternative treatments should be subsidized in the same way as conventional treatments,
since there is a chance of recovery. And since Health insurance companies subsidize treatments that lead to recovery. Besides it should be in the interest of the health insurers to recognize alternative medicine as treatment,
It doesn't matter after all that those who administer the treatment don't have 'doctor status'. And since Alternative non-medical practitioners don't have 'doctor status'. Alternative treatments should be subsidized in the same way as conventional treatments,
Despite the death penalty there are significantly more homicides in the US than in Germany. And since The death penalty is intended to deter murderers. Fear of punishment hence does not deter murderers.
'An eye for an eye' seems to miss the point. And since The principle of "eye for eye" is based on avenge. The state ought to prevent murder - not avenge it.
which in turn would result in generally clean pavements. And since Fewer dog dirt leads to cleaner pavements. If there were higher fines for leaving dog dirt on pavements, there would presumably be less dog dirt,
This provides an at least superficial equalization in our heavily economically oriented society. And since Equalization can reduce discrimination. which may reduce discrimination of financially and/or socially disadvantaged children.
which may reduce discrimination of financially and/or socially disadvantaged children. And since School uniforms can reduce discrimination. School uniforms should be introduced in our schools again.
for that course can only lead to escalation in some form. And since A conflict may lead to escalation. The developments in that conflict should not be left to former Cold War opponents alone,
Furthermore, Ukraine is culturally and geographically much closer than other countries that the EU (used to) get involved with. And since The EU should influence political events in countries who are culturally and geographically close. The EU should exert influence on the political events in Ukraine.
Capital punishment would be murder and would have to be punished with the death penalty itself. And since Germany should not commit murders. Germany should by no means introduce capital punishment.
What, then, ought to be done with criminals who have committed truly awful crimes such as murder or rape - should they simply be allowed to live on. And since Capital punishment should be imposed for the commission of truly awful crimes. Germany should by no means introduce capital punishment.
Their tools, data and expertise have been used to keep us under surveillance for a long time. And since A close collabaroation enables surveillance. but the German services evidently do collaborate with them closely.
